/* css for website and game*/

body{
  background-image: url(https://wallpaperscraft.com/image/space_background_blue_dots_73340_3840x2400.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.AboutMission{
  margin: auto;
  width: 50%;
    background-color: #5E90AF;
    padding: 10px;
    text-align: center;
  
}

:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: transparent;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}
.headtitle{
  font: 100 80px/0.8 'Pathway Gothic One', sans-serif;
  color:#FFFF33;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}
.jumbotron-heading {
  font-weight: 200;
  font: 100 80px/0.8 'Pathway Gothic One', sans-serif;
  color: #FFFF33;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.theCanvas{
  color:#FFFF33;
  width: 100%;
  text-align: center;
  background-color:transparent;
  padding-right:0;
  padding-left: 0; 
  margin-left: auto;
  margin-right: auto; 
  height:auto;
  position: center;

}
canvas{
          position: absolute;
          color::#FFFF33;
          padding-top: 20px;
          margin-left: auto;
          display: inline;
          width: 100%;
          height:500px;
          background: transparent;
          /*position:center;
          margin-left: auto;
          margin-right:auto;
          padding-left: 0; 
          padding-right: 0;
          width: 100px;
          display:block;
          align-items: center;
          background: transparent;*/  
      }

      #background {
        z-index: -2;
      }
      #main {
        z-index: -1;
      }
      #ship {
        z-index: 0;
      }
      .showScore {
        color:#FFFF33;
        font-family: Helvetica, sans-serif;
        cursor: default;
        display:none;
      }.score{
        font-size:25px;
        color:#FFFF33;
        display:none;
      }
      .game-over {
        text-align: center;
        color:#FFFF33;
        font-family: Helvetica, sans-serif;
        font-size: 30px;
        cursor: default;
        display: none;
      }
      .game-over span {
        font-size: 20px;
        cursor: pointer;
        position: middle;
        left: 50px;
      }
      .game-over span:hover {
        color:#FFFF33;
      }
      .loading {
        color:#FFFF33;
        font-family: Helvetica, sans-serif;
        font-size: 30px;
        cursor: default;
      }
      .start{
        font: 100 80px/0.8 'Pathway Gothic One', sans-serif;
        color:#FFFF33;
        text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
        text-align: center;
        font-size:50px;
        cursor: default;
        display: block;
      }

      .start span {
        color:#FFFF33;
        font-size: 80px;
        cursor: pointer;
        position: relative;
        text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
        left: 0px;
      }
      .start span:hover {
        color: :#FFFF33;
      }
      .continue {
        text-align: center;
        color: :#FFFF33;
        font-size:45px;
        font-family: Helvetica, sans-serif;
        cursor: default;
        left: 0px;
        position: relative;
        text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
        display:none;   
      }
        #answers{
        position: absolute;
        left:0px;
        width: 100%;
        height:500px;
        font-size:40px; 
        margin-left: auto;
        margin-right: auto; 
        background-color:#5E90AF;
        padding-top: 10px;
        text-align: left;
      }
      .hide{
        display:none;
      }
      .canvasBig{
        width: 100%;
      }
      #button1{
        
        text-align: center;
      }
      #button{ 
      	position: absolute;
        left:10px;
       }
      #finalMess{

      }
