.everything{
	text-align: center;
	width:430px;
	margin: 20px auto;
	margin-left: auto;
	margin-right: right;
	
}
#myCanvas{
	#canvas { background(night-927168_960_720.jpg) }
	display:inline;
	width:200%;
	margin:left;
}